<h3>What is DCFemTech?</h3>
<p>DCFemTech is a coalition of women leaders aimed at amplifying <a href="about.html"><strong>women in tech organizations</strong></a>, sharing resources, and bringing leaders together to close the gender gap. Bimonthly meetings are inclusive and open to any women in tech leaders.</p>

<h3>Who is DCFemTech?</h3>
<p><a href="about.html"><strong>Members</strong></a> are affiliated with organizations
    <ol>
        <li>with women attendance that is 50% or higher</li>
        <li>who have a focus on technology</li>
        <li>have a primary focus in the mission statement about gender or women.</li>
    </ol>
DCFemTech also shares a list of resources for the DCFemTech community for those seeking places to learn specific skills (development, design, networking, etc.)</p>
