<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>DCFemTech</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script>
<script type="text/javascript" src="scripts/gcal.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css" type="text/css" />
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.print.css" />
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css" />
<style>
#calendar { width: 750px; margin-top:50px;}
</style>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
      <h1 class="header"><a href="index.html" style="color: #ffffff">DCFemTech</a></h1>
<!--       <p class="header">page</p> -->
        <ul>
          <li><a href="about.html">About</a></li>
          <li><a href="organizations.html">Organizations</a></li>
          <li><a href="supporters.html">Supporters</a></li>
          <li><a href="tourdecode.html">Tour de Code</a></li>
          <li><a href="events.html">Events & Resources</a></li>
          <li><a href="codecoffee.html">Code & Coffee</a></li>
          <li><a href="newsletter.html">Newsletter</a></li>
          <li><a href="jobs.html">Jobs</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="latest.html">@DCFemTech</a></li>
        </ul>

      </header>
      <section>
